/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  background-color: white;
  min-width: 970px;
  color: @bpMedGray;
  font-family: @font-family-sans-serif;
  overflow-x:hidden;
  @media(max-width: 970px){
	  overflow-x: auto;
  }
}

.container-fixed {
  margin: 0 auto; 
  max-width: 970px;
}
.container-fixed > hr {
  margin: 30px 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
 
h1{
	font-size: 48px;
}

h2{
	font-size: 32px;
}

p{
	font-size: 20px;
	&.large{
		font-size: 28px;
		font-weight: bold;
		line-height: 42px;
		-webkit-font-smoothing: antialiased;
	}
}

ul{
	li{
		font-size: 20px;
	}
}

a{
	&:hover,
	&:active{
		text-decoration: none;
	}
}

.general_button{
	font-size: 18px;
	font-weight: bold;
	padding: 4px 20px;
	background-color: @bpLightMedBlue;
	border-top: 6px solid @bpMedBlue;
	color: white;
	&:hover,
	&:active{
		background-color: @bpMedBlue;
		border-top: 6px solid @bpLightMedBlue;
		color: white;
	}
}

header{
	.logo{
		background: url('/assets/img/elements/logo_220x101.png') center center no-repeat white;
    .at2x('/assets/img/elements/logo_220x101', 'png', 220px, 101px);
    display:block;
    width: 220px;
    height: 101px;
    margin: 30px 0 20px 0;
	}
	.utility{
		margin-right: -4px;
		float:right;
		a{
			padding: 0 18px;
			height: 48px;
			line-height: 48px;
			background-color: @bpLighterGray;
			color: @bpLightMedGray;
			text-transform: uppercase;
			font-size: 12px;
			display: inline-block;
			font-weight: bold;
			margin-right: -4px;
			-webkit-font-smoothing: antialiased;
			&:hover,
			&:active{
				background-color: @bpLightMedGray;
				color: @bpLighterGray;
			}
		}
	}
	ul{
		padding: 32px 0 0 0;
		margin: 0;
		float:right;
		li{
			padding: 0 10px;
			margin: 0;
			float:left;
			list-style-type: none; 
			a{ 
				color: @bpDarkGray;
				border-bottom: 3px solid white;
				padding: 5px 1px;
				display:block;
				-webkit-font-smoothing: antialiased;
				&:hover,
				&:active{
					color: @bpOrange;
				}
			}//a
			&.active a{
				color: @bpOrange;
				border-bottom: 3px solid @bpOrange;
			}
		}//li
	}//ul
}

#home_top{
	background: url('/assets/img/elements/home_bgfull_orange_449x449.jpg') center center @bpOrange;
  .at2x('/assets/img/elements/home_bgfull_orange_449x449', 'jpg', 449px, 449px);
	color: white;
	position:relative;
	.col-lg-12{
		height: 449px;
		background: url('/assets/img/elements/home_bg_orange_449x449.png') center right no-repeat transparent;
    .at2x('/assets/img/elements/home_bg_orange_449x449', 'png', 449px, 449px); 
    position:relative;
    z-index: 100;
	}
	.row{
		position:relative;
		@media(max-width: 970px){
		  overflow-x: hidden;
	  }
	}
	h1{
		margin: 0;
		padding: 95px 0 0 0;
	}
	hr{
		margin: 40px 0 36px 0;
		border-top: 5px solid white; 
		max-width: 140px;
	}
	p{
		margin: 0;
		pading: 0;
		max-width: 640px;
	}
	img{
		position:absolute;
		right: -90px;
		top: 0;
	}
}

#home_middle{
	background-color: @bpMedGray;
}

#home_bottom{
	background-color: @bpDarkGray;
}

#testimonials{
	background-color: @bpMedBlue;
	border-top: 15px solid @bpLightMedBlue;
	span{
		display:block;
		margin: 0 auto;
		font-size: 24px;
	}
}

footer{
	background-color: @bpDarkGray;
	color: @bpLightGray;
	
}





