<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
      <div class="drawer_container">
         <nav>[[Wayfinder? &startId=`0` &level=`1`]]</nav>
      </div><!--/.drawer_container -->
  </div><!--/.snap-drawer left --> 
</div><!--/.snap-drawers --> 

<div id="content_container">
	<header>
		[[Wayfinder? &startId=`0` &level=`1` &outerClass=`hidden-sm hidden-xs`]]
		<div class="snap-trigger-left text-hide visible-sm visible-xs">NAV</div>
	</header>